%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet

{lib_dirs, [
  "../_elixir",
  "../_build/prod"
]}.

{default_release, stacker, "0.0.1"}.

{release, {stacker, "0.0.1"}, [
  stacker,
  iex % needed for iex remote console
]}.

{include_erts, true}.
{extended_start_script, false}.
{generate_start_script, false}.

{overlay_vars, "vars.config"}.

{post_overlay, [
	{mkdir, "data"},
	{mkdir, "etc"},
	{copy, "./files/erl", "erts-{{release_erts_version}}/bin/erl"},
	{copy, "./files/nodetool", "erts-{{release_erts_version}}/bin/nodetool"},
	{copy, "../deps/cuttlefish/cuttlefish", "erts-{{release_erts_version}}/bin/cuttlefish"},
	{template, "./files/runner", "bin/stacker"},
	{template, "./files/env.sh", "lib/env.sh"},
	{template, "./files/start_erl.data", "releases/start_erl.data"},

	%% Cuttlefish Schema Files have a priority order.
	%% Anything in a file prefixed with 00- will override
	%% anything in a file with a higher numbered prefix.
	%%
	%% Please only use 0[0-9]-*.schema for development purposes
	{template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/10-erlang_vm.schema"},
	{template, "../deps/relx_cuttlefish/priv/schemas/common.schema", "lib/11-common.schema"}
	% {template, "../schemas/orc.schema", "lib/14-stacker.schema"}
]}.

{cuttlefish, true}.
{paths, [
	"../deps/cuttlefish/ebin",
	"../deps/lager/ebin",
	"../deps/relx_cuttlefish/ebin"
]}.

{add_providers, [
	rlx_prv_cuttlefish
]}.