%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

%%
%% etc/app.config
%%

%% lager
{console_log_level,   "info"}.
{console_log_default, file}.

%%
%% etc/vm.args
%%
{node,         "stacker@127.0.0.1"}.
{crash_dump,   "./log/erl_crash.dump"}.

%%
%% bin/stacker
%%
{runner_script_dir,   "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,     "${RUNNER_SCRIPT_DIR%/*}"}.
{runner_etc_dir,      "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,      "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,      "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,    "$RUNNER_BASE_DIR/lib/patches"}.
{pipe_dir,            "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,         ""}.
{runner_wait_process, "stacker_sup"}.

%%
%% cuttlefish
%%
{cuttlefish,         "on"}.
{cuttlefish_conf,    "stacker.conf"}.
